.profile__info {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 295px 1fr;
  grid-template-areas:
    "name edit-button"
    "working .";
  gap: 12px 17px;
  align-items: center;
}

@media screen and (max-width:999px) {
  .profile__info {
    margin-left: 0;
    max-width: 100%;
    grid-template-columns: 210px 1fr;
  }
}

@media screen and (max-width:768px) {
  .profile__info {
    gap: 14px 10px;
    justify-items: center;
    align-items: baseline;
    margin-top: 22px;
  }
}

@media screen and (max-width:525px) {
  .profile__info {
    max-width: 282px;
    margin: 27px 0 0;   
  }
}