.register__button-container {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  margin-top: 216px;
  margin-bottom: 15px;
  min-height: 50px;
  cursor: pointer;

  border-radius: 2px;
  font-size: 18px;
  line-height: 19px;
  padding: 14px 0 0;

  border: none;
  text-align: center;
  color: black;
  transition: 0.8s;
}

.register__button-container:hover {
  opacity: 0.85;

}